
<<<<<<< HEAD
<<<<<<< HEAD
 <div id='map' class='dark'>

=======
  <div id='map' class='dark'>
    <script>
    

    </script>
>>>>>>> Added map view
=======
 <div id='map' class='dark'>

>>>>>>> Rendering the crime data points on the map



  </div>
