<div id='map'></div>

<div id='legend-content' style='display: none;'>
  <div class='my-legend'>
  <div class='legend-title'>Risk</div>
  <div class='legend-scale'>
    <ul class='legend-labels'>
      <li><span style='background:#FF0000;'></span>High</li>
      <li><span style='background:#CCFF99;'></span>Medium</li>
      <li><span style='background:#66FF99;'></span>Low</li>
    </ul>
  </div>
  </div>
  </div>

<div class="flash"></div>

<div class="layers">
  <div class="button">
  </div>
  <ul class="layer-options">
    <li id="all-crimes" class="active">All Crimes</li>
    <li id="heat-map">Heat Map</li>
    <li id="arson">Arson</li>
    <li id="assault">Assault</li>
    <li id="burglary">Burglary</li>
    <li id="disorderly-conduct">Disorderly Conduct</li>
    <li id="drug-narcotic">Drugs & Narcotics</li>
    <li id="drunkenness">Drunkenness</li>
    <li id="extortion">Extortion</li>
    <li id="kidnapping">Kidnapping</li>
    <li id="larceny-theft">Larceny / Theft</li>
    <li id="other-offenses">Other Offenses</li>
    <li id="prostitution">Prostitution</li>
    <li id="robbery">Robbery</li>
    <li id="sex-offenses">Sex Offenses</li>
    <li id="suspicious-activity">Suspicious Activity</li>
    <li id="trespass">Trespass</li>
    <li id="vandalism">Vandalism</li>
    <li id="vehicle-theft">Vehicle Theft</li>
    <li id="weapon-laws">Weapon Laws</li>
  </ul>
</div>

<div class="search">
	<img src="http://i.imgur.com/wyaM2vM.png"/>
    <form class="location-search">
      <input type="text" name="location" placeholder="Enter a location" />
    </form>
</div>

<div class="tweet">
<a class="popup" href="https://twitter.com/intent/tweet?button_hashtag=DangerZoneSF&text=Safety%20score%20is"><img src="http://i.imgur.com/Iu9yfTe.png"/></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

<div class="report">
<a class="twitter-timeline" href="https://twitter.com/search?q=%23DangerZoneSF" data-widget-id="331296284076019712">Tweets about "#DangerZoneSF"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>


