<div id='map'></div>
<div class="flash"></div>

<div class="search">
  <img src="http://i.imgur.com/wyaM2vM.png" />
    <form class="location-search">
      <input type="text" name="location" placeholder="Enter a location" />
    </form>
</div>
