var map = L.mapbox.map('map', 'alex-ray.map-p9i5ggnv');


$(document).ready(function(){
  map.legendControl.addLegend($('#legend-content').html());
  navigator.geolocation.requestCurrentPosition(map.showPosition, map.errorCallback, map.timeoutCallback, 4000);
  map.searchLocationFormInit();
  map.on("click",function(e){
    var latitude = e.latlng.lat;
    var longitude = e.latlng.lng;
    var report_incident_form_template = '<b>Report an incident:</b><form id="report-form" class="report-incident"><input type="hidden" name="longitude" value='+longitude+'><input type="hidden" name="latitude" value='+latitude+'><textarea name="incident" rows= "4" cols="40" placeholder="Report here!"></textarea><br/><b>Select category:</b><div class="options"><select name="options" size="5"><option value="arson" >ARSON</option><option value="assault" >ASSAULT</option><option value="bad checks" >BAD CHECKS</option><option value="burglary" >BURGLARY</option><option value="disorderly conduct" >DISORDERLY CONDUCT</option><option value="driving under the influence" >DRIVING UNDER THE INFLUENCE</option><option value="drug/narcotic" >DRUG/NARCOTIC</option><option value="drunkeness" >DRUNKENNESS</option><option value="embezzlement" >EMBEZZLEMENT</option><option value="extortion" >EXTORTION</option><option value="family offenses" >FAMILY OFFENSES</option><option value="forgery/counterfeiting" >FORGERY/COUNTERFEITING</option><option value="fraud" >FRAUD</option><option value="gambling" >GAMBLING</option><option value="kidnapping" >KIDNAPPING</option><option value="larceny/theft" >LARCENY/THEFT</option><option value="liquor laws" >LIQUOR LAWS</option><option value="loitering" >LOITERING</option><option value="missing person" >MISSING PERSON</option><option value="non-criminal" >NON-CRIMINAL</option><option value="other offenses" >OTHER OFFENSES</option><option value="prostitution" >PROSTITUTION</option><option value="recovered vehicle" >RECOVERED VEHICLE</option><option value="robery" >ROBBERY</option><option value="runaway" >RUNAWAY</option><option value="sex offenses, forcible" >SEX OFFENSES, FORCIBLE</option><option value="sex offenses, non forcible" >SEX OFFENSES, NON FORCIBLE</option><option value="suicide" >SUICIDE</option><option value="suspicious occ" >SUSPICIOUS OCC</option><option value="trespass" >TRESPASS</option><option value="vandalism" >VANDALISM</option><option value="vehicle theft" >VEHICLE THEFT</option><option value="warrants" >WARRANTS</option><option value="weapon laws">WEAPON LAWS</option></select></div><br><input id ="submit" type="submit" value="Report"></form>';
    $('.leaflet-popup-pane').show();
    var marker =L.mapbox.markerLayer({
      type: 'Feature',
      geometry: {
        type: 'Point',
        // coordinates here are in longitude, latitude order because
        // x, y is the standard for GeoJSON and many formats
        coordinates: [e.latlng.lng,e.latlng.lat]
      },
      properties: {
        url: 'http://en.wikipedia.org/wiki/Baltimore',
        title: '',
        description: report_incident_form_template,
        // one can customize markers by adding simplestyle properties
        // http://mapbox.com/developers/simplestyle/
        'marker-size': 'large',
        'marker-color': '#f0a'
      }
    }).addTo(map);
  });


    $('.tweet a').click(function(event) {
    var width  = 575,
        height = 400,
        left   = ($(window).width()  - width)  / 2,
        top    = ($(window).height() - height) / 2,
        url    = this.href,
        opts   = 'status=1' +
                 ',width='  + width  +
                 ',height=' + height +
                 ',top='    + top    +
                 ',left='   + left;

    window.open(url, 'twitte', opts);

    return false;
  });


$(document).delegate("#report-form","submit",function(e){
  e.preventDefault();
  $('.leaflet-popup-pane').hide();
  $.post('/crimes',$('form.report-incident').serialize(), function(response) {

  },'json');
});

});

map.searchLocationFormInit = function(){
  $('div.search img').click(function(){
    $('div.search').toggleClass('open');
  });

  $('form.location-search').on('submit', function(event){
    event.preventDefault();
    var data = $(this).serialize();

    $.post(console.log(data), '/location', function(loc){
      map.setView([loc['lat'], loc['lon']], 18);
    }, function(error){
      map.alertFlash(error.message);
    });

  });
}



map.flash = function(message, type){
  $('.flash').addClass(type).text(message);
  window.setTimeout(function(){
    $('.flash').removeClass(type);
  }, 4000);
}

map.formOpen = function(){
  $('div.search').addClass('open');
}

map.formClose = function(){
  $('div.search').removeClass('open');
}

map.timeoutCallback = function(){
  map.formOpen();
  map.flash("Enter your location!", "warning");
}

map.showPosition = function(pos) {
  var lat = pos.coords.latitude,
  lon = pos.coords.longitude;

  map.setView([lat, lon], 18);

  L.marker([lat,lon], {
    icon: L.icon({
      iconUrl: "http://i.imgur.com/FOqzufV.png",
      iconSize:     [35, 35],
      iconAnchor:   [25, 25],
      popupAnchor:  [0, -25]
    })
  }).addTo(map);
}

map.errorCallback = function(error){
  if(error.PERMISSION_DENIED){
    map.flash("Enable your Geo Location!", "alert");
  } else if(error.POSITION_UNAVAILABLE){
    map.flash("Enter a location!", "alert");
  } else if(error.TIMEOUT){
    map.flash("hmmm we timed out trying to find where you are hiding!", "alert");
  }
}

navigator.geolocation.requestCurrentPosition = function(successCB, errorCB, timeoutCB, timeoutThreshold){
  var successHandler = successCB;
  var errorHandler = errorCB;

  window.geolocationTimeoutHandler = function(){
    timeoutCB();
  }

  if (typeof(geolocationRequestTimeoutHandler) != 'undefined'){
    clearTimeout(window['geolocationRequestTimeoutHandler']);//clear any previous timers
  }

  var timeout = timeoutThreshold || 40000;//60 seconds
  window['geolocationRequestTimeoutHandler'] = setTimeout('geolocationTimeoutHandler()', timeout);//set timeout handler

  navigator.geolocation.getCurrentPosition(
    function(position){
      clearTimeout(window['geolocationRequestTimeoutHandler']);
      successHandler(position);
    },
    function(error){
      clearTimeout(window['geolocationRequestTimeoutHandler']);
      errorHandler(error);
    }
    );
};

map.getCrimes = function(){
  $.getJSON('/crimes', function(data) {
    var crimes = data;

    for (x in crimes){
      L.circle([crimes[x].latitude,crimes[x].longitude],10,{color:'red'},{opacity:'5.0'}).addTo(map);
    }

    function onMapClick(event) {
     popup
     .setLatLng(event.latlng)
     .setContent("You clicked the map at " + e.latlng.toString())
     .openOn(map);
   }
 });


}


