html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map { height: 100% }
.search {
  background-color: white;
  position: fixed;
  width: auto;
  top: 11px;
  left: 50px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
}
.current-location {
  position: fixed;
  width: auto;
  height: 30px;
  width: 30px;
  top: 50px;
  left: 50px;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #ccc;
  background: white url('http://i.imgur.com/dXDYjJw.png') no-repeat center center;
  &:hover {
    background-color: #ccc;
    cursor: pointer;
  }
}
.search:hover, .tweet:hover {
  background-color: rgb(244,244,244);
  cursor: pointer;
}
.options {
	height:80px;
	overflow:auto;
	width:250px;
}
.search img {
  width: 17px;
  height: 21px;
  margin: 4px 0px;
  margin-left: 6px;
  display: block;
  float: left;
}
.search.open form.location-search {
  width: 170px;
  input {
    height: 22px;
    width: 160px;
  }
}
.search.open:hover {
  background-color: white;
}

form.location-search {
  float: left;
  width: 0px;
  height: 22px;
  margin: 3.5px 0;
  display: inline-block;
  position: relative;
  margin-left: 5px;
  -webkit-transition: width .25s ease-in-out;
  -moz-transition: width .25s ease-in-out;
  transition: width .25s ease-in-out;
  input {
    border: none;
    outline: none;
    line-height: 1.5em;
    width: 0px;
    height: 0px;
    top: 0;
    margin: 0;
    padding: 0;
    color: rgb(108,108,108);
    transition: width .25s ease-in-out;
    -webkit-transition: width .25s ease-in-out;
    -moz-transition: width .25s ease-in-out;
  }
}
:focus {
  border: none;
  outline: none;
}
.flash {
  opacity: 0;
  height: 32px;
  position: fixed;
  top: 11px;
  right: 55px;
  border-radius: 5px;
  text-align: center;
  line-height: 32px;
  padding: 0px 20px;
  border: 1px solid rgb(108,108,108);
  color: rgb(78,78,78);
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}
div.flash.alert {
  opacity: .9;
  border-color: rgb(227, 94, 79);
  background-color: rgb(247, 114, 99);
}
div.flash.warning {
  opacity: .9;
  border-color: rgb(226, 182, 62);
  background-color: rgb(246,202,82);
}
div.flash.success {
opacity: .9;
  border-color: rgb(161,182,136);
  background-color: rgb(181,202,136);
}
div.layers {
  max-height: 300px;
  position: fixed;
  width: 31px;
  height: 31px;
  margin: 0;
  padding: 0;
  top: 90px;
  left: 50px;
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  div.button {
    width: 30px;
    height: 30px;
    background: url('http://i.imgur.com/kxPEHFU.png?1') no-repeat center center;
  }
  &:hover {
    background-color: #ccc;
  }
  ul {
    height: 0;
    display: none;
  }
}
div.layers.open {
  overflow: scroll;
  width: auto;
  height: auto;
  &:hover {
    background-color: white;
  }
  div.button {
    width: 30px;
    height: 30px;
    background: url('http://i.imgur.com/q84IoT4.png?2') no-repeat center center;
  }
  ul {
      display: block;
      height: auto;
      width: 200px;
      margin: 0;
      padding: 0;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
  }
  li:last-child {
    -webkit-border-radius: 0px 5px 0px 5px;
    -moz-border-radius: 0px 5px 0px 5px;
    border-radius: 0px 0px 5px 5px;
  }
  li {
    background-color: white;
    text-decoration: none;
    list-style-type: none;
    padding: 10px 0px;
    color: #666;
    width: 100%;
    text-align: center;
    border-top: 1px solid #ccc;
    &:hover {
      cursor: pointer;
      background-color: rgb(244,244,244);
      box-shadow: 0px 0px 1px #ccc inset;
    }
  }
  li.active {
    background-color: white;
    text-decoration: none;
    list-style-type: none;
    padding: 10px 0px;
    color: #666;
    width: 100%;
    text-align: center;
    border-top: 1px solid #ccc;
    width: 100%;
    background-color: rgb(244,244,244);
    box-shadow: 0px 0px 1px #ccc inset;
  }
}

