<!DOCTYPE html>
<html>
<head>

  <title>Dangerzone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtbT0p97KRpoLcn3RezNmfFmlhfv1YeVA&libraries=visualization,geometry&sensor=false">
  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag "application" %>

</body>
</html>
